body {
	background-color: rgb(53,53,53);
	color: #ffffff;
	font-family: Verdana, Helvetica, sans-serif;
}

h1 {
	text-align: center;
	font-size: 1.5em;
/* 	margin: 0; */
}

.game {
	cursor: default;
}

.game:hover{
   background-color: rgb(27,27,27);
}

.game-name {
	cursor: pointer;
}

#game-list {
/* 	min-height: 100px; */
/* 	vertical-align: middle; */
	overflow-y: auto;
	height: 100%;
}

ul.game-genres {
	color: green;
	display: inline;
	margin: 0.5em;
	padding: 0;
	float: right;
}

ul.game-genres li {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
}
 
ul.game-genres li:after {
	content: ", ";
	color: #aaa;
}
 
ul.game-genres li:last-child:after {
	content: "";
}

ul li, li * {
	vertical-align: middle;
}

.run-game, .game-thumbnail {
	margin-right: 5px;
}

.header {
	border: 2px solid gray;
	margin-bottom: 10px;
	width: 99%;
/* 	height: 10%; */
}

#filter-input {
	width: 100%;
}

.left-column {
	float:left;
	border: 2px solid gray;
	border-right: none;
	width: 49%;	
	height: 85%;
	overflow-y: hidden;
}

.right-column {
	float: left;
	width: 50%;
	height: 85%;
	border: 2px solid gray;
	border-left: none;
}

#spinner-holder {
	margin-bottom: 100px;
	margin-top: 50px;
}

#game-info-frame {
	height: 100%; 
	width: 100%;
}